img {
    float:left;
    width: 200px;
    height: 150px; 
    padding: 10px; 
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 150px;
    padding: 10px;
}