body {
    border-color:#dddddd;
    background-color: #ffffff;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li1 {
    float:left;
}

li2 {
    float:right;
}

li a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
}